*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #2d3436;
    background: #f8f9fa;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.navbar{
    background: linear-gradient(135deg,  #20B2AA 5%, #FFFFFF 95%);
    padding: 1rem 0;
    box-shadow: 0 4px 20px rgba(102, 126, 234, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h1{
    color: black;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}
.nav-menu a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.05rem;
    position: relative;
}
.hero{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url("https://www.flagcolorcodes.com/filter?f=huila&e=waves")center/cover;   
    color: white;
    text-align: center;
    padding: 250px 20px;
    position: relative;
    overflow: hidden;
}
.hero-content{
    position: relative;
    z-index: 1;
}
.hero-content h2{
    font-size: 3.5rem;
    margin-bottom: 1em;
    font-weight: 900;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    animation: sliderdown 0.8s ease-out;
}
.hero-content p{
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    opacity: 0.95;
}
.btn-primary{
    display: inline-block;
    background: #96dc96 ;
    color: #667eea;
    padding: 18px 50px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 800;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.btn-primary:hover{
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3) ;
}